data/refer360images/
data/dumps/
data/fov_pretraining*
data/vg_object_dictionaries*.json
data/*_data*
data/refer360images.tar.gz
src/exp*
src/LIST*
src/TRASH
src/notebooks/.ipynb_checkpoints/
src/scripts
*__pycache__
*.pyc
py_bottom_up_attention/*




